<div  class="parent" *ngIf="this.componentSelected == 0">
    <div class="container">
    <!-- Title -->
    <h1 align="center" class="admin-title"> Welcome Admin!</h1>
    
    <!-- Navbar for action selection  -->
    <div class="navTab">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a (click)="ListGames()" class="nav-link">Games In Progress</a>
        </li>
        <li class="nav-item">
          <a (click)="CreateAGame()" class="nav-link">Create a Game</a>
        </li>
       
      </ul>
    </div>
    <!-- Holds the create new game component  -->
    <div class="" *ngIf="this.componentSelected == 1">
      <br>
        <div class="">
        <app-admin-create-a-game></app-admin-create-a-game>
        </div>
    </div>

    <!--Holds the edit game child component  -->
    <div class="admin-edit-game" *ngIf="this.componentSelected == 0">
      <br>
        <div class="card-columns">
        <div class="edit-game-component-individuals" *ngFor="let game of games">
          
          <app-admin-edit-game [game]="game" class="edit-game-child"></app-admin-edit-game>
        </div>
        </div>
    </div>

    
  </div>
 
   
</div>
<div  class="parento" *ngIf="this.componentSelected == 1">
  <div class="container">
  <!-- Title -->
  <h1 align="center" class="admin-title"> Welcome Admin!</h1>
  
  <!-- Navbar for action selection  -->
  <div class="navTab">
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a (click)="ListGames()" class="nav-link" >Games In Progress</a>
      </li>
      <li class="nav-item">
        <a (click)="CreateAGame()" class="nav-link" >Create a Game</a>
      </li>
     
    </ul>
  </div>
  <!-- Holds the create new game component  -->
  <div class="" *ngIf="this.componentSelected == 1">
    <br>
      <div class="">
      <div class=" ">
      <app-admin-create-a-game></app-admin-create-a-game>

      </div>
    </div>
  </div>

  <!--Holds the edit game child component  -->
  <div class="admin-edit-game" *ngIf="this.componentSelected == 0">
    <br>
      <div class="card-columns">
      <div class="edit-game-component-individuals" *ngFor="let game of games">
        
        <app-admin-edit-game [game]="game" class="edit-game-child"></app-admin-edit-game>
      </div>
      </div>
  </div>
</div>
</div>