.admin-edit-game{
    
    justify-content: center;
    align-items: center;
    align-content: center;
}
.edit-game-child{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.admin-create-game{
    /* background-color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto; */
}

ul{
    cursor: pointer;
    
}