
<!-- Popup Qr Modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title mx-auto">Qr-Code</h4>
    </div>
    <div class="modal-body mx-auto">
        <div class="container" *ngIf="player != null">
            <div *ngIf="player.isHuman ; else zombie"> 
                <!-- Human view-->
                <qrcode [qrdata]="bitecode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                <div class="card form-group">
                    <input id="biteCodeInputField" type="text" [(ngModel)]="bitecode" disabled>               
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<!-- Zombie View-->
<ng-template #zombie>
    <zxing-scanner [enable]="scannerEnabled" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
    <div class="form-group">
        <textarea [(ngModel)]="story" rows=3 placeholder="Kill story..." style="width: 100%" class="form-control"> </textarea>
        
        
        <input id="latInput" type="text" [(ngModel)]="mapCoordinates[0].latLng.lat" class="form-control" placeholder="Lat" >

        
        <input id="lngInput" type="text" [(ngModel)]="mapCoordinates[0].latLng.lng" class="form-control" placeholder="Lng">
        <app-map-modal [zoom]="5" [autoCenter]="true" [inputFields]="mapCoordinates" (submittedFields)="gotCoordinates($event)" [buttonText]="'Select Kill Marker Location'" >                  
        </app-map-modal>

        <input id="biteCodeInputField" type="text" [(ngModel)]="bitecode" placeholder="Enter bite code here." class="form-control">
        <button class="btn btn-primary" (click)="submit(true)">Submit</button>
        <button class="btn btn-secondary" (click)="submit(false)">Submit without story or location</button>
        <!-- Ugly I don't care -->
        <div class="iconCont">
            <div class="fa-1x fa-spin fa fa-refresh" *ngIf="waiting">
            <fa-icon icon="cog"></fa-icon>
            </div>
        </div>
        
            
        
        
    </div>
    
</ng-template>
<button class="btn-lg btn-info mb-2 mr-2 mx-auto" (click)="openVerticallyCentered(content)">{{buttonText}}</button>
