/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* //@import "~ng-pick-datetime/assets/style/picker.min.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';

.floatAlert {
  border-radius: 5px;
  width: 50vw;
  right: 10vw;
  left: 10vw;
  position: absolute;
  top: 0em;
  z-index: -1;
}
