<div class="card">
    <div class="card-header">
        Create a new mission
    </div>
    <div class="card-body">
        <form action="" class="card-body">
            <div class="form-group">
                <label for="mission-title">Mission title</label>
                <input type="text" class="form-control" id="mission-title" [(ngModel)]="title" name="newTitle" required>
            </div>
            <div class="form-group">
                <label for="mission-description">Mission description</label>
                <input type="text" class="form-control" id="mission-description" [(ngModel)]="description" name="newDescription" required>
            </div>
            <div class="form-group">
                <div class="col">
                    <label for="vissibility" class="col-form-label">Human Vissible</label>
                    <input type="checkbox" class="form-check-input" id="vissibility" [(ngModel)]="human_vissible" name="newhumanvissible">  
                </div>
            </div>
            <div class="form-group col">
                <label for="datetime-local-input-start" class="col-form-label">New start time</label>
                <input class="form-control" type="datetime-local" id="datetime-local-input-start" [(ngModel)]="start_time" name="newStartTime" required>
                <span class="validity"></span>
            </div>
            <br>
            <!-- new end time -->
            <div class="form-group col">
                <label for="datetime-local-input-end" class="col-form-label">New end time</label>
                <input class="form-control" type="datetime-local" id="datetime-local-input-end"[(ngModel)]="end_time" name="newEndTime" required>
                <span class="validity"></span>
            </div>
            <div class="form-group col">
                <app-map-modal [game]="game" [autoCenter]="false" [inputFields]="location"></app-map-modal>
                <label for="datetime-local-input-end" class="col-form-label">Latitude</label>
                <input class="form-control" type="number" id="datetime-local-input-end" [(ngModel)]="location[0].latLng.lat" name="lat" required>
                <label for="datetime-local-input-end" class="col-form-label">Longitude</label>
                <input class="form-control" type="number" id="datetime-local-input-end" [(ngModel)]="location[0].latLng.lng" name="lng" required>
                <span class="validity"></span>
            </div>
           
            <br>
            
            <button class="btn btn-primary" type="submit" (click)="submit()">Submit Mission</button>
        </form>
    </div>
  </div>