<ul class="nav mx-auto" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">
            <fa-icon O_ERRORS_SCHEMA [icon]="faUserAlt"></fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">
            <fa-icon O_ERRORS_SCHEMA [icon]="faSignOutAlt"></fa-icon>
        </a>
    </li>
</ul>
<ul class="nav mx-auto" *ngIf="!(isAuthenticated | async)">
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>
            <fa-icon O_ERRORS_SCHEMA [icon]="faUserAlt"></fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>
            <fa-icon O_ERRORS_SCHEMA [icon]="faEdit"></fa-icon>
        </a>
    </li>
</ul>
