<header>

  <nav class="navbar fixed-top navbar-light bg-white box-shadow">

    <div class="container">

      <ul class="nav mx-auto">
        
        <!-- Home link-->
        <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']" title="Home">
            <fa-icon [icon]="faHome"></fa-icon>
          </a>
        </li>

        <!-- Dropdown for all games -->
        <li ngbDropdown class="nav-item" [routerLinkActive]="['link-active']">
          <a ngbDropdownToggle class="nav-link text-dark" id="navbarGameMenu" *ngIf="isAuthenticated | async" title="Games">
            <fa-icon [icon]="faBiohazard"></fa-icon> 
          </a>
          <a ngbDropdownToggle class="nav-link disabled" id="navbarGameMenu" *ngIf="!(isAuthenticated | async)" title="Games">
            <fa-icon [icon]="faBiohazard"></fa-icon> 
          </a>
          <app-nav-menu-gamelist></app-nav-menu-gamelist>
        </li>

        <!-- If authenticated, make the CHAT link available -->
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/game',currentgame,'chat']" *ngIf="isAuthenticated | async" title="Chat">
            <fa-icon [icon]="faComment"></fa-icon>
          </a>
          <a class="nav-link disabled" [routerLink]="['/game',currentgame,'chat']" *ngIf="!(isAuthenticated | async)" title="Chat">
            <fa-icon [icon]="faComment"></fa-icon>
          </a>
        </li>

        <!-- If authenticated, make the SQUAD link available -->
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/game',currentgame,'squad']" *ngIf="isAuthenticated | async" title="Squad"> 
            <fa-icon [icon]="faUsers" aria-disabled="true"></fa-icon>
          </a>
          <a class="nav-link disabled" [routerLink]="['/game',currentgame,'squad']" *ngIf="!(isAuthenticated | async)"title="Squad"> 
            <fa-icon [icon]="faUsers" aria-disabled="true"></fa-icon>
          </a>
        </li>

        <!-- If admin, show the admin button -->
        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin | async">
          <a class="nav-link text-dark" [routerLink]="['/game/','admin']" title="Admin"> 
            <fa-icon [icon]="faLock" aria-disabled="true"></fa-icon>
          </a>
        </li>

        <!-- Add the login-links from login-menu -->
        <app-login-menu></app-login-menu>

      </ul>

    </div>
  </nav>
</header>
