<!-- <p class="card-text">{{ member.rank}}</p> -->
 <div class="">
     
    <h5 *ngIf="squadMemberIdAndUsername.length < 1">No one is member of this squad...</h5>  
       
    <div class="" *ngFor="let squadObject of squadMemberIdAndUsername">  
        <div class="" *ngIf="squadObject.alive">
            <p *ngIf="squadObject.rank == 1" class="">{{squadObject.username}} <span><img style="height: 25px; width: 25px;" src="../../../assets/images/SL.png"/></span></p>
            <p *ngIf="squadObject.rank == 0" class="">{{squadObject.username}} (Squad Member)</p>
        </div>
        <div class="" *ngIf="!squadObject.alive">
            <p *ngIf="squadObject.rank == 1" class="">Deceased: {{squadObject.username}}<span><img style="height: 25px; width: 25px;" src="../../../assets/images/SL.png"/></span></p>
            <p *ngIf="squadObject.rank == 0" class="">{{squadObject.username}} (dead)</p>
        </div>
        
    </div>
 </div>