<section class="contact-section bg-black">
    <div class="container">
  
      <div class="row">
  
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">The Team</h4>
              <hr class="my-4">
              <div class="small text-black-50">Tage Lessum</div>
              <div class="small text-black-50">Odin Asbjørnsen</div>
              <div class="small text-black-50">Håkon Engly Johansen</div>
              <div class="small text-black-50">Tony H. Abaz</div>
              <div class="small text-black-50">Johan Emil Løvald</div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Noroff</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                Accelerated Learning
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Lakkegata 53, 0187 Oslo </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>
  
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2020
    </div>
  </footer>
