.contact-section {
    padding: 15rem 0 0;
  }
  
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
  }
  
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  
  .contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
  }
  
  .contact-section .social {
    margin-top: 5rem;
  }
  
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .contact-section .social a:active {
    color: #fff;
  }
  
  a {
    color: #64a19d;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
  }
  
  .bg-black {
    background-color: #161616 !important;
  }
  
  .bg-primary {
    background-color: #64a19d !important;
  }
  
  .text-primary {
    color: #64a19d !important;
  }
  
  footer {
    padding: 5rem 0;
  }
  