.home_section {
    height: 100vh;
    /* background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('./assets/images/bg-masthead.jpg'); */
    background-image: url('../../assets/images/bg-masthead-mobile-view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  
  }
  .container  {
    height: 100vh;
  }
  @media only screen and (min-width: 998px) {
    .home_section {
      height: 100vh;
      width: 100%;
      background-image: url('../../assets/images/bg-masthead.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    
    }
  } 
    .masthead h1 {
    font-family: 'Varela Round';
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(10, 10, 10, 0.9), rgb(10, 10, 10, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
    
    .masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
    }
    
    @media (min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    }
    
    @media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}
