<section class="home_section">
    <header class="masthead">
        <div class="container d-flex  align-items-center">
          <div class="mx-auto text-center">
            <!-- <h1 class="mx-auto my-0 text-uppercase">HvZ</h1> -->
            <img src="../../assets/images/hvz-logo.png" class="img-fluid" alt="">
            <br>
            <a [routerLink]="['/authentication/register']" class="btn btn-dark ">Get Started</a>
          </div>
        </div>
      </header>
</section>
