
<!-- Open Join Squad list -->
<div class="" *ngIf="squad">
    <div class="card m-2">
        <h5 class="card-header">{{squad.name}}</h5>
        <div class="card-body">
            <div class="" *ngFor="let squadMember of squadMembers">
                <!-- <h5>{{squadMember.playerId}}</h5> -->
            </div>
            <h5 class="card-title">Squad</h5>
            <p>People in squad: {{peopleInSquad}}</p>
            <p>Alive in squad: {{alivePeople.length}}</p>
            <p>Dead in squad: {{deadPeople.length}}</p>
            
            <a class="btn btn-outline-dark mx-auto" (click)="submit()">Join Squad</a>
        </div>
        </div>
    </div>
<!-- Open Create Squad form -->
<!-- 
<div class="card">
    <div class="card">
        <app-create-squad></app-create-squad>
    </div>
</div>
 -->
