<div class="card mx-2" style="width: 20rem; height: 10rem;">
    <div class="card-body">
        <h5 class="card-title">{{game.name}} - {{getStateStr(game.gameState)}} </h5>
        <p class="card-text"> {{game.players}} players registered. </p>
        <p class="card-text">{{generateDateDisplay()}}</p>
    </div>
</div>