<div class="list-group-item">
    <span style="padding-right:3px; padding-top: 3px;">
        <img class="img-fluid" src="../../../../assets/icons/R{{player.rank}}.png">
    </span>
    {{ player.user.username }}
    <!-- <span *ngIf="player.isHuman">Alive</span> -->
    <span *ngIf="!(player.isHuman)">
        <img class="img-fluid" src="../../../../assets/icons/grave_marker.png">
    </span>
</div>
