
/* :host ::ng-deep .mat-radio-container{
    height: 10px;
    width: 10px;
  } */
  :host ::ng-deep .mat-radio-outer-circle{
    border: hidden;
  }
  :host ::ng-deep .mat-radio-inner-circle{
    height: 10px;
    width: 10px;
  }
  :host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 20px; /*double of your required circle radius*/
    width: 20px;  /*double of your required circle radius*/
    left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
  }
