<div class="container">
  <div class="row align-items-center justify-content-center">
    <div>
     <div class="jumbotron mt-5">
      <h5>Create Squad</h5>
      <hr>
      <form [formGroup]="form" (ngSubmit)="submit()"> 
        <div class="form-group">
            <label for="name">Name</label>
            <hr>
            <input 
                formControlName="name"
                aria-label="Name"
                id="name" 
                type="text" 
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
            </div>
        </div>
        <mat-radio-group formControlName="isHuman" class="smallRadio">
          <mat-radio-button value=true> Human</mat-radio-button>
        </mat-radio-group>
        <hr>
       <div class="btn_container mt-2">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
       </div>
    </form>
     </div>
    </div>
  </div>
</div>