

<button type="button" class="btn btn-primary" (click)="openModal(content)" *ngIf="game">{{buttonText}}</button>
        <!-- Open modal by pressing this button -->

<!-- Modal containing the map component -->
<ng-template #content let-modal>
    <!-- Modal Header  -->
    <div class="modal-header">
    <h4 class="modal-title">Map selection</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()" class="btn btn-secondary">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
        <app-map [markers]="[]" 
        [defaults]="default"
        (mapClicked)="handleClick($event)"
        [addMarkerOnClick]="true"
        [autoCenter]="autoCenter"
        >
        
        </app-map>
        <!-- Select object to edit -->
        <select [(ngModel)]="selectedField" (ngModelChange)="selectMe($event) " class="form-control">
            <option *ngFor="let option of inputFields" [ngValue]="option" >{{option.name}}</option>
        </select>
        <!-- Iterates over the properties of the object latLng -->
        <div class="form-group" *ngIf="selectedField != null">
            <div class="form-group">
                <div *ngFor="let input of  generateInputFields(selectedField.latLng)">
                    <input id="map + input" type="number" step="0.000001" [(ngModel)]="selectedField.latLng[input]" placeholder="{{input[0].toUpperCase() + input.slice(1)}}" class="form-control">
                </div>
                
            </div>
            <button type="button" class="btn btn-primary" (click)="submitCoordinates()">
                Submit
            </button>
        </div>
        
        
    </div>
</ng-template>


