<button type="button" class="btn-primary" (click)="openVerticallyCentered(content)">Pin location</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add checkin</h4>
    </div>
    <div class="modal-body">
        <div class="card" >
        
            <div class="card-body" *ngIf="game; else placeholder">
                <div class="form-group">
                    <div class="form-group-col">
                        <label for="lat">Lat </label>
                        <input id="lat" type="text"  [(ngModel)]="location[0].latLng.lat"  class="form-control">
                        <label for="lng">lng </label>
                        <input id="lng" type="text"  [(ngModel)]="location[0].latLng.lng" class="form-control">
                    </div>
                    <app-map-modal [game]="game" [autoCenter]="false" [inputFields]="location" [overlaySrc]="'assets/images/zone_overlay.png'"></app-map-modal>
                    <div class="form-group-col">
                        <button type="button" class="button " (click)="flipFrom()">From</button>
                        <div class="card " style="margin-top: 1em;" *ngIf="fromTimeSelected">
                            <dl-date-time-picker
                            startView="day"
                            maxView="year"
                            minView="minute"
                            minuteStep="5"
                            [(ngModel)]="fromDate"
                            >   </dl-date-time-picker>
                            
                        </div>
                        <button type="button" class="button " (click)="flipTo()">To</button>
                        <div class="card " style="margin-top: 1em;" *ngIf="toTimeSelected">
                            <dl-date-time-picker
                            startView="day"
                            maxView="year"
                            minView="minute"
                            minuteStep="5"
                            [(ngModel)]="toDate"
                            >   </dl-date-time-picker>
                            
                        </div>
                    </div>
                    
        
                    
        
                    <button type="button" class="button-primary" (click)="submitCheckIn()">Submit</button>
                </div>
            </div>
        
        </div>
        
        <ng-template #placeholder>
            <div class="card-body">
                <p>Loading Game...</p>
            </div>
        </ng-template>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
    
</ng-template>
