<div *ngIf="game d-flex justify-content-center" >
  <div class="jumbotron flex" *ngIf="gamestate < 2; else elseBlock">
    <div class="container">
      <h5 class="display-4">{{game.name}}</h5>
      <p>
        Start time: {{convertTimeStamp( game.startTime, 'DD-MM-YY - HH:MM') }}  
      </p>     
      <p>
        End time: {{convertTimeStamp( game.endTime, 'DD-MM-YY - HH:MM') }} 
      </p>
      <p>
        {{stateMessage[game.gameState]}}
      </p>
    </div>
  </div>
  <ng-template class="jumbotron flex" #elseBlock>
    <div class="container">
      <h5 class="display-4">{{game.name}}</h5>
      <p>
        Start time: {{convertTimeStamp( game.startTime, 'DD-MM-YY - HH:MM') }}  
      </p>     
      <p>
        End time: {{convertTimeStamp( game.endTime, 'DD-MM-YY - HH:MM') }} 
      </p>
      <p>
        {{stateMessage[game.gameState]}}
      </p>
    </div>
  </ng-template>
  <div *ngIf="game.gameState == 0 && !playerLoaded" class="container"> 
    <!-- //   need to do a lookup on the me endpoint to see if we're a player in this game.
    //  or current playerservice that is. -->
    <app-player-registry class="mx-auto" *ngIf="!playerLoaded" [currentGame]="currentGame" (joined)='refresh()' [user]="user" [game]="game"></app-player-registry>
  </div>
  <!-- Add Bite code entry if the game is still in progress. -->
  <div class="mx-auto" *ngIf="game.gameState == 1 && playerLoaded">    
    <app-qr [player]="player" [buttonText]="generateButtonText()" (submittedBitecode)="biteCodeHandler($event)" *ngIf="playerLoaded"></app-qr>
  </div>
  <!--Map -->
  <div class="card" *ngIf="game">
    <app-map [game]="game" 
    [defaults]="defaults"
    [autoCenter]="false"
    [markers]="markers"
    ></app-map>
  </div>


  <div class="container">
    <app-player-list [playerList]="playersInGame"></app-player-list>
  </div>
  
  <div class="game-detail-rules">
    <div class="container">
      <div class="row">
       <div class="col">
        <h1>Safety Rules</h1>
        <hr>
        <p class="font-weight-normal">
         <b>1: </b> No realistic looking weaponry. Blasters must be brightly colored and have blaze-orange tips.
        </p>
        <p class="font-weight-normal">
          <b>2: </b> Players may not use cars or play where there is traffic.
        </p>
        <p class="font-weight-normal">
         <b>3: </b> Blasters may not be visible inside of academic buildings or jobs on campus.
        </p>
        <p class="font-weight-normal">
          <b>4: </b> Socks, Darts or Marshmallows must not hurt on impact.
        </p>
       </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h1>Human Rules</h1>
          <hr>
            <p class="font-weight-normal">
              <span><b>Wearing a Bandanna:</b></span> Humans must wear a headband around an arm or leg to identify them as players of the game. (This headband will come in handy when you become a zombie!)
            </p>
            <p class="font-weight-normal">
             <span><b>Stunning a Zombie:</b></span> Humans may stun a Zombie for 15 minutes by blasting them with a blaster or throwing a sock at them.
            </p>
            <p class="font-weight-normal">
            <span><b>When Tagged By a Zombie:</b></span> When tagged by a Zombie, a Human is required to distribute their ID card. One hour after being tagged, tie your bandanna around your head – you are now a member of the Zombie team! Go tag some Humans.
            </p>
            <p class="font-weight-normal">
             <span><b>I.D. Number: </b></span> Humans must keep an index card with their unique identification number on them at all times.
            </p>
            <p class="font-weight-normal">
             <span><b>Staying On Campus:</b></span> Humans must sleep on campus. If you need to leave campus for longer than 24 hours, contact the game moderators and remove yourself from the game.
            </p>
        </div>
        <div class="col-sm-6">
          <h1>Zombie Rules</h1>
          <hr>
          <p class="font-weight-normal">
          <span><b>Feeding: </b></span> Zombies must feed every 48 hours. A zombie feeds by reporting their tag on the website.
          </p>
          <p class="font-weight-normal">
           <span><b>Tagging:</b></span> A tag is a firm touch to any part of a Human. After tagging a Human the Zombie must collect their ID card and report the tag.
          </p>
          <p class="font-weight-normal">
            <span><b>Getting Shot:</b></span> When hit with a dart, a marshmallow, or a sock, a Zombie is stunned for 15 minutes. A stunned zombie may not interact with the game in any way. This includes shielding other zombies from bullets or continuing to run toward a human. If shot while stunned, the zombie’s stun timer is reset back to 15 minutes.
          </p>
          <p class="font-weight-normal">
          <span><b>Wearing A Headband:</b></span> Zombies must wear a bandanna around their heads at all times. The Original Zombie does not need to wear a headband.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
