
<!-- Shows the individual squads that the admin can edit -->

<!-- If the squad is active -->
<div class="top" *ngIf="squad">
<div class="top" *ngIf="!squad.isDeleted">

    <div class="card bg-light mb-3" style="max-width: 18rem;">
     <div class="card-header"> 
        Active
         
        </div>
        <img src="../../assets/images/humansquad.jpg.png" *ngIf="squad.isHuman" class="card-img-top">
        <img src="../../assets/images/zombiesquad.jpg.png" *ngIf="!squad.isHuman" class="card-img-top">
        
       <div class="card-body">
          <h5 class="card-title">{{squad.name}}</h5>
          <br>

            <!-- List the squad memebers  -->
            
            <div class=""  *ngIf="squadMembers.length > 0" >
              <ul class="list-group">
              <button class="btn btn-info btn-sm" (click)="showDeleteButton()">Edit members</button>
              
              <div class="" *ngFor="let squadmember of squadMembers"> 
                <li *ngIf="!squadmember.isDeleted" class="list-group-item d-flex justify-content-between align-items-center">
                <app-admin-squad-members [squadmember]="squadmember"></app-admin-squad-members>
                <span class="badge badge-primary badge-pill">{{squadmember.rank}}</span>
                <small *ngIf="showDeleteBtn" class="btn btn-danger btn-sm"  (click)="removeSquadMember(squadmember)">remove</small>
                </li>
               
              </div>
                
            </ul>
            
          </div>
          <p *ngIf="squadMembers.length == 0">No squad members in squad</p>
              
          
        </div>
        <div class="list-group">
          <button class="btn btn-danger"(click)="deleteSquad()">Delete squad</button>
        </div>
      </div>
</div>


<!-- If the squad is deleted -->
<div class="top" *ngIf="squad.isDeleted">

    <div class="card bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Deleted</div>
        <div class="card-body">
          <h5 class="card-title">{{squad.name}}</h5>
        <br>
        <!-- List the squad members -->
        </div>
      </div>
</div>
</div>
