<div class="container">    
    <div class="">
    
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">Create a new game</h5>
            <form [formGroup]="newGameForm" class="newGame-container" (ngSubmit)="createGame()">
           <div class="form-group">
            <!--  Game title with input validation  -->
            <p [ngClass]="{'has-error': isSubmited && formControls.gameName.errors }">
               <input type="text" placeholder="Game Title" formControlName="gameName" class="form-control">
           </p> 
           
           <div *ngIf="isSubmited && formControls.gameName.errors" class="help-block">
               <div *ngIf="formControls.gameName.errors.required" >Game name is required</div>
           </div>
            </div>
            <div class="form-group col">
           <!-- Game state (registration, in progress, complete) -->
           <select #selectElem (change)="setNewState(selectElem.value)">
            <option *ngFor="let state of states" [value]="state.id">
                {{state.StateName}}
            </option>
        </select>
        <!-- Select coordinates, this might be a bit tricky? -->      
        </div>
        <div class="form-group col">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
    <app-map-modal [zoom]="5" [inputFields]="mapCoordinates" (submittedFields)="gotCoordinates($event)" [buttonText]="'Select game corner coordinates'">                  
    </app-map-modal>
    <label for="northwest">{{mapCoordinates[0].name}}</label>
    <input type="text" id="northwest" [value]="formatCoordinate(mapCoordinates[0]) " disabled>
    <label for="southeast">{{mapCoordinates[1].name}}</label>
    <input type="text" id="southeast" [value]="formatCoordinate(mapCoordinates[1]) " disabled>
    </div>
</div>
</div>