<div class="" *ngIf="kill">
    <!-- Overview -->
    <div class="" *ngIf="!editing">
    <div class="" *ngIf="murderer">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://i.pinimg.com/474x/9f/62/41/9f6241f570b37b2097daaf28bc2bf686--grim-reaper-grimm.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kill</h5>
          <p class="card-text">{{kill.story}}</p>
          <br>
          <p class="card-text">Time of death</p>
          <p class="card-text">{{kill.timeOfDeath}}</p>
          <p class="card-text">Was murdered by {{murderer.username}}</p>
          <a class="btn btn-primary" (click)="editKill()">Edit</a>
        </div>
      </div>
    </div>
    </div>
    <!-- When the admin is editing the kills -->
    <div class="" *ngIf="murderer">
        <div class="" *ngIf="kill">
        <div class="" *ngIf="editing">
            <div class="card" style="width: 18rem;">
                <h1 class="">Edit kill</h1>
                     
                <div class="card-body">
                  <div class="form-group text-center">
                     <div class="form-group">
                         <h5>New Story</h5>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder={{kill.story}} id="killStory"  [(ngModel)]="editStory">
                          </div>
                          
                      </div>
                      <div class="form-group">
                          <h5 class="">New Lat</h5>
                          <input type="number" class="form-control" placeholder={{kill.lat}} id="killLat"  [(ngModel)]="editLat">
                          <h5 class="">New Long</h5>
                          <input type="number" class="form-control" placeholder={{kill.lng}} id="killLng" [(ngModel)]="editLng">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary" (click)="submit()">Submit</button>
                      </div>
                      <div class="form-group">
                          <button class="btn btn-danger" (click)="deleteKill()">Delete</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>