<!-- The child where you can edit the individual player states -->
<!-- If the mission is active -->
<div class="top" *ngIf="player">
    <div class="not-editing" *ngIf="!editPlayer">  
        <div class="card bg-light mb-3">
            <div class="card-header">
                <h3>Active
                </h3>   
            </div>
            <div class="card-body" *ngIf="user">
                <h3 class="card-title">{{player.name}}</h3>
                <br> 
                <h5>{{user.username}}</h5>
                <p *ngIf="player.isHuman">Human</p>
                <button class="btn btn-secondary"  *ngIf="player.isHuman && !player.isPatientZero" (click)="turnZombie($event)" value="{{player.id}}" type="button">Turn to patient zero!</button>
                <p *ngIf="!player.isHuman">Zombie</p>
                
                <p *ngIf="player.isPatientZero">Is Patient Zero</p>
                <p>Has bite code: {{player.biteCode}}</p>
                <div class="form-group">
                    <!-- Game state (registration, in progress, complete) -->
                    <select #selectElem (change)="setNewRank(selectElem.value)"[(ngModel)]="selectedRank" class="selectpicker" data-width="fit">
                     <option *ngFor="let rank of ranks" [value]="rank.id" >
                         {{rank.rankname}}
                     </option>
                 </select>
                 </div>
                <br> 

                 

                <h5>Owned by</h5>
                <p>{{user.firstName}}</p>
                <p>{{user.lastName}}</p>
            </div>
            </div>
    </div>
    </div>
    
    