<div class="" *ngIf="player">
<div class="container" *ngIf="player.user">
    <div class="list-group">
        <h5>{{player.user.username}}</h5>
    </div>
    <div class="list-group">
        <a *ngIf="player.isHuman">Human</a>
    </div>
    <div class="list-group">
    <a *ngIf="!player.isHuman">Zombie</a>
    </div>
    <div class="list-group"> 
    <small> First name: {{player.user.firstName}}</small>
    </div>
    <div class="list-group"> 
    <small> Last name: {{player.user.lastName}}</small>
    </div>
</div>
</div>