<div class="overflow-auto">
  <h1>Player List
    <span>
      <button type="button" class="btn btn-outline-info btn-circle showalert" data-toggle="collapse" href="#rankAlert">
        i
      </button>
    </span>
  </h1>
  <div id="rankAlert" class="alert alert-info collapse" role="alert">
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R0.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R1.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R2.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R3.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R4.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R5.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R6.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R7.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R8.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R9.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R10.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R11.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R12.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R13.png">
    </span>
    <span style="padding-right:3px; padding-top: 3px;">
      <img class="img-fluid" src="../../../../assets/icons/R14.png">
    </span>
 </div>
  <div class="list-group" *ngFor="let p of playerList">
    <app-player-list-entry [player]="p"></app-player-list-entry>
  </div>

</div>
