<div class="card" *ngIf="messages">
    <!-- Might need to fix this -->
    
        <p *ngIf="messages.length == 0">No messages yet, be the first to write a message.</p>
        <div class="container chatContainer">
            <div class="card chatMessage"  *ngFor="let msg of messages" [ngClass]="{'userChat': msg.playerRef.username == currentPlayer.username, 'friendChat': msg.playerRef.username != currentPlayer.username}">
                
                    <!-- Rank is technically not defined in PlayerRef, so let's see how this goes -->
                    <span class="username">{{msg.playerRef.username}} <img [src]="msg.playerRef['rankSrc']" style="width: 12px; height: 12px;"></span>
                    <span class="">{{msg.message}}</span>

                    <span class="time-right">{{convertTimeStamp(msg.chatTime)}}</span>
                
            </div>
        </div>
</div>
