li .card{ background: rgb(209, 209, 209); }
li:nth-child(odd) .card { background: rgb(231, 231, 231); }

.chatContainer {
    overflow-y: scroll; height: 60vh;
    
}
.time-right {
    text-align: right;
}
.chatMessage {
    margin-bottom: 0,5em;
    margin-top: 0.5em;
}
.friendChat {
    width: 70%;
    margin-right: 30%;
    float: left;
    background-color: white;
}

.userChat {
    width: 70%;
    margin-left: 30%;
    float: right;
    background-color: lightblue;
}