<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ squad.name }}</h5>
      <p class="card-text">{{ squad.isHuman }}</p>
      <button class="btn btn-primary">Join Squad</button>
    </div>
</div>