<div class="container" *ngIf="currentPlayer; else placeholder">
    <nav  class="navbar dropdown-menu-left">
            <!-- Chat channels selection -->
            <select class="browser-default custom-select"  [(ngModel)]="selectedChat" (ngModelChange)="onChange()">
                <option value="globalChat" selected>Global Chat</option>
                <option value="factionChat">Faction Chat</option>

                <option value="squadChat" *ngIf="currentSquad; else disabled">{{currentSquad.name}} Chat</option>
                <ng-template #disabled>
                    <option  value="squadChat" disabled>Squad Chat</option>
                </ng-template>
                
            </select>
    </nav>
    <!-- Contains the chat-->
    <div class="container" *ngIf="currentPlayer">
        <app-chat-channel [currentPlayer]="currentPlayer" [messages]="selected"></app-chat-channel> 
    <!-- Make this scrollable -->
    <div class="card">
        <label for="chatInput" [(ngModel)]="outMessage" ></label>
        <div class="inputArea">
            <textarea class="form-control" id="chatInput" rows="1" [(ngModel)]="outMessage" placeholder="Type your message here" name="outMessage" ngDefaultControl ></textarea>
            <button type="submit" class="btn btn-primary" (click)="sendMessage()" >Send</button>
        </div>
      </div>
    </div>
</div>
<ng-template #placeholder>
    <div class="card">
        <div class="card-body">You have not registered for this game, and cannot see it's chat.</div>
    </div>
</ng-template>
