{{rules}}
<div class="container">
    <div class="container mb-5 mt-5">
        <div class=" row align-items-center justify-content-center">
          <div class="col-md-12 mt-5">
              <div *ngIf="loggedIn; else registerMessage">
                  <h5 class="card-title" style="text-align: center;"> Click on game to check it's details </h5>
              </div>
              <ng-template #registerMessage>
                  Register to join a game
              </ng-template>
              
             <div class="card-group">
              <div *ngFor="let game of games" class="">
                  <div *ngIf="loggedIn; then loggedIn else notLoggedIn"></div>
                  <ng-template  #loggedIn >
                      <a [routerLink]="['/game/',game.id]" (click)="setCurrentGame(game.id)" style="color: inherit; text-decoration: inherit;"><app-title [game]="game" *ngIf="loggedIn; else notLoggedIn" ></app-title></a>
                  </ng-template>
                  
                  <ng-template #notLoggedIn>
                      <app-tite [game]="game"></app-tite>
                  </ng-template>
              </div>
             </div>
          </div>
        </div>
      </div>
</div>
