<div>
  biteregistry currentgame:
  <div>
    <input [(ngModel)]="bitecode" placeholder="Enter bitecode" />
    <button type="submit" (click)="submit()">></button>
  </div>
  <!--<div class="col-2">
    <input type="datetime-local" id="meeting-time"
           name="meeting-time" value="2018-06-12T19:30"
           min="{{game.startTime}}" max="{{game.endTime}}">
  </div>-->
  <div>
    {{ game.startTime}}
  </div>
</div>
