<body>
  <app-nav-menu></app-nav-menu>
  <app-error class="floatAlert"></app-error>
  <app-homepage-header *ngIf="router.url == '/'"></app-homepage-header>
  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
  <app-footer *ngIf="router.url == '/'"></app-footer>
</body>
