<!-- List the individual missions so that the admin can edit them -->
<!-- If the mission is active -->
<div class="top" *ngIf="mission">
<div class="not-editing" *ngIf="!editMission">
<div class="top" *ngIf="!mission.isDeleted">
    
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h3>Active
            <button (click)="edit()" class="btn btn-primary btn-sm">Edit</button>
            </h3>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{mission.name}}</h4>
            <br>
            <h6>Mission Description</h6>
            <p>{{mission.description}}</p>
            <p *ngIf="humanMission"> Human Mission</p>
            <p *ngIf="!humanMission"> Zoombie Mission</p>
            <p>Starts: {{mission.startTime}}</p>
            <p>Ends: {{mission.endTime}}</p>
            <p>Lat: {{mission.lat}}</p>
            <p>Lng: {{mission.lng}}</p>

            <button class="btn btn-danger" (click)="deleteMission()">Delete mission</button>
        </div>
        </div>
</div>
    
    
    <!-- If the mission is deleted -->
<div class="top" *ngIf="mission.isDeleted">
    
    <div class="card bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Deleted</div>
        <div class="card-body">
            <h5 class="card-title">{{mission.name}}</h5>
            <h6>Mission Description</h6>
            <p>{{mission.description}}</p>
            <p>Lat: {{mission.lat}}</p>
            <p>Lng: {{mission.lng}}</p>
            <p *ngIf="humanMission"> Human Mission</p>
            <p *ngIf="!humanMission"> Zoombie Mission</p>
            
        <br>
        </div>
        </div>
</div>
</div>
<!-- When the admin decides to edit a mission -->
<div class="" *ngIf="editMission">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
           <h3>Editing {{mission.name}}</h3>
        </div>
        <div class="card-body">
            <form class="edit-mission">
                <!-- New mission title -->
                <div class="form-group">
                    <label for="mission-title">Mission title</label>
                    <input type="text" class="form-control" id="mission-title" [(ngModel)]="title" name="newTitle" required>
                </div>
                <br>
                <!-- New mission description -->
                <div class="form-group">
                    <label for="mission-description">Mission description</label>
                    <input type="text" class="form-control" id="mission-description" [(ngModel)]="description" name="newDescription" required>
                </div>
                <br>
                <!-- Is it a human or zombie mission? -->
                <div class="form-col">
                    <div class="col">
                        <label for="vissibility" class="col-form-label">Human Vissible</label>
                        <input type="checkbox" class="form-check-input" id="vissibility" [(ngModel)]="human_vissible" name="newhumanvissible">
                        
                    </div>
                </div>
                <br>
                <!-- new start date -->
                <div class="form-group col">
                    <label for="datetime-local-input-start" class="col-form-label">New start time</label>
                    <input class="form-control" type="datetime-local" value={{mission.startTime}} id="datetime-local-input-start" [(ngModel)]="start_time" name="newStartTime">
                </div>
                <br>
                <!-- new end time -->
                <div class="form-group col">
                    <label for="datetime-local-input-end" class="col-form-label">New end time</label>
                    <input class="form-control" type="datetime-local" value={{mission.endTime}} id="datetime-local-input-end"[(ngModel)]="end_time" name="newEndTime">
                </div>
                <br>
                <!-- Coordinates bois-->
                <div class="form-group col">
                    <app-map-modal [game]="game" [autoCenter]="false" [inputFields]="location"></app-map-modal>
                    <label for="datetime-local-input-end" class="col-form-label">Latitude</label>
                    <input class="form-control" type="datetime-local" id="datetime-local-input-end" [(ngModel)]="location[0].latLng.lat" name="lat" required>
                    <label for="datetime-local-input-end" class="col-form-label">Longitude</label>
                    <input class="form-control" type="datetime-local" id="datetime-local-input-end" [(ngModel)]="location[0].latLng.lng" name="lng" required>
                    <span class="validity"></span>
                </div>
                
            <div class="form-group col">
                <button class="btn btn-primary" (click)="submitChanges()">Submit changes</button>
                <br>
            </div>
            <div class="form-group col">
                <button class="btn btn-info" (click)="undoChanges()">Undo Changes</button>
            </div>
        </form>
        </div>
        </div>
</div>

</div>