<!-- Change to 0 -->
<nav *ngIf="markers.length > 0" class="navbar dropdown-menu-left">
    <div ngbDropdown class="d-inline-block" *ngIf="types.length > -1">  
        <!-- Change this when you have tests. -->
        <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Filter markers</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" >
        
            <div class="form-check"  *ngFor="let marker of types; let i = index">
                <input type="checkbox" class="form-check-input" id="{{marker.type}}"  (change)="handleCheckboxChange($event)"checked>
                <label class="form-check-label" for="{{marker.type}}">
                    <img *ngIf="marker.icon != ''" [src]="marker.icon" style="width: 20px; height: 20px;">    
                    {{marker.type}}
                </label>
            </div>
        
        </div>
      
    </div>

    <button class="navbar-toggler" type="button"(click)="filterMarkers(3600)">
        1 hour
      </button>
      <button class="navbar-toggler" type="button"(click)="filterMarkers(3600 * 24)">
        Last day
      </button>
      <button class="navbar-toggler" type="button"(click)="filterMarkers(3600 * 24 * 7)">
        Last week
      </button>
      <button class="navbar-toggler" type="button"(click)="filterMarkers(-1)">
        All time
      </button>
      
</nav>
<button class="navbar-toggler" type="button" (click)="toggleOverlay()" *ngIf="evalOverlaySrc()">Toggle overlay</button>
<div #mapRef style="width:100%; height: 400px"></div>