
    <div class="game-not-deleted"  *ngIf="!game.isDeleted" style="max-width: 18rem;">
        <div class="card text-center bg-light mb-3">
            <h5 class="card-header" *ngIf="!game.isDeleted">Active</h5>
            <div class="card-body" *ngIf="squads">
              <h5 class="card-title">{{game.name}}</h5>
              <p class="card-text">Game Id: {{game.id}}</p>
              <p class="card-text">Players: {{players.length}}</p>
              <p class="card-text">{{squads.length}} squads in game</p>

              <p *ngIf="game.gameState == 0" class="gamestate-register">Registration</p>
              <p *ngIf="game.gameState == 1" class="gamestate-in-progress">In-progress</p>
              <p *ngIf="game.gameState == 2" class="gamestate-is-completed">Completed</p>

              <button type="button" class="btn btn-primary" [routerLink]="['/game/','admin', this.game.id]">Edit Game</button>
              <button type="button" class="btn btn-danger" (click)="deleteGame()">Delete Game</button>
              
            </div>
          </div>
    </div>
    
    <div class="game-deleted"  *ngIf="game.isDeleted" style="max-width: 18rem;">
        <div class="card text-center bg-danger mb-3">
            <h5 class="card-header" *ngIf="game.isDeleted">Deleted</h5>
            <div class="card-body">
              <h5 class="card-title">{{game.name}}</h5>

              <p class="card-text">Game Id: {{game.id}}</p>
              <p class="card-text">Players: {{players.length}}</p>
              <p class="card-text">{{squads.length}} squads in game</p>
              
              <p *ngIf="game.gameState == 0" class="gamestate-register">Registration</p>
              <p *ngIf="game.gameState == 1" class="gamestate-in-progress">In-progress</p>
              <p *ngIf="game.gameState == 2" class="gamestate-is-completed">Completed</p>


              <button type="button" class="btn btn-primary" [routerLink]="['/game/','admin', this.game.id]">Edit Game</button>
              
            </div>
          </div>
    </div>

