<div class="admin-edit-games-container" *ngIf="game">
  <div class="container mt-5" >
    <!-- If the game is not edited -->
    <div class="card text-center" *ngIf="!gameEdited">
        <nav class="navbar navbar-expand-lg navbar-light bg-white box-shadow">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav mx-auto">
              <li class="nav-item">
                <a class="nav-link text-dark" (click)="gameSelected()">Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" (click)="squadSelected()">Squads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" (click)="missionSelected()">Missions</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link text-dark" (click)="playerSelected()">Players</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" (click)="missionMarker()">Create Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" (click)="killsSelected()">Kills</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- When the game section is selected -->
        <div class="game-body" *ngIf="selectedNav == 0">
        <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Edit {{game.name}}</h3>
          <form [formGroup]="newGameForm" class="newGame-container" (ngSubmit)="SubmitGameChanges()">
              <div class="form-group text-center">
                      <!--  Game title with input validation  --> 
                      <div class="form-group">
                    
                      <p [ngClass]="{'has-error': isSubmited && formControls.gameName.errors }"></p> 
                    <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder={{game.name}} formControlName="gameName" aria-describedby="basic-addon2"  [(ngModel)]='name'>
                  
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary btn-sm" type="button" (click)="fill()">Fill</button>
                    </div>
                  
                  </div>
                
                    
                    <div *ngIf="isSubmited && formControls.gameName.errors" class="help-block">
                    <div *ngIf="formControls.gameName.errors.required" >Game name is required</div>
                  </div>
                    
                  </div>
                  <div class="form-group">
                    <div *ngIf="game.isDeleted">
                      <p class="card-text">Undo delete</p>
                      <input type="checkbox" formControlName="undoDelete"> 
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Game state (registration, in progress, complete) -->
                    <select #selectElem (change)="setNewState(selectElem.value)">
                    <option *ngFor="let state of states" [value]="state.id">
                          {{state.StateName}}
                    </option>¨
                    </select>
                    
                    <!-- <p>{{formatCoordinate(mapCoordinates[0])}}</p>
                    <p>{{formatCoordinate(mapCoordinates[1])}}</p> -->
                    <br>
                  </div>
                 
                  <!-- Select coordinates, this might be a bit tricky? -->
                    
                    <button type="submit" class="btn btn-primary">Submit</button>

              </div>
              <app-map-modal [zoom]="5" [game]="generateGameField(game)" [autoCenter]="false" [inputFields]="mapCoordinates" (submittedFields)="gotCoordinates($event)" [buttonText]="'Select game corner coordinates'">
                          
              </app-map-modal>
              <label for="northwest">{{mapCoordinates[0].name}}</label>
              <input type="text" id="northwest" [value]="formatCoordinate(mapCoordinates[0]) " disabled>
              <label for="southeast">{{mapCoordinates[1].name}}</label>
              <input type="text" id="southeast" [value]="formatCoordinate(mapCoordinates[1]) " disabled>
            </form>
          </div>
        </div>
            
          
        </div>
        
        
        <!-- When the squad section is selected -->
        <div class="top"  *ngIf="squads.length > 0">
        <div class="game-body" *ngIf="selectedNav == 1">
            <div class="card-body">
                <h5 class="card-title">Active Squads in Game</h5>
                <div class="card-columns">
                <div class="squad-class" *ngFor="let squad of squads">
                    <app-admin-edit-individual-squads [squad]="squad"></app-admin-edit-individual-squads>
                </div>
              </div>
            </div>
                
             
             
            </div>
       
      </div>
    
          <!-- When the mission section is selected -->
          <div class="mission"  *ngIf="missions.length > 0">
          <div class="game-body" *ngIf="selectedNav == 2">
            <h5 class="card-title">Edit Missions</h5>
            <div class="card-columns">
               <div class="mission-class" *ngFor="let mission of missions">
                   <app-admin-edit-individual-missions [mission]="mission"></app-admin-edit-individual-missions>
               </div> 
    
            </div>
                
            </div>
       
      </div>
               <!-- When the player section is selected -->
               <div class=""  *ngIf="players.length > 0">
                <div class="game-body" *ngIf="selectedNav == 3">
                  <h5 class="card-title">Edit Players</h5>
                  <div class="card-columns">
                     <div class="player-class" *ngFor="let player of players">
                         <app-admin-edit-individual-player-states [player]="player" [gameid]="gameId"></app-admin-edit-individual-player-states>
                     </div> 
          
                  </div>
                      
                  </div>
             
            </div>
            <!-- When the mission marker section is selected -->
              <div class="game-body" *ngIf="selectedNav == 4">
                <h5 class="card-title">Create Mission</h5>
                <div class="card" *ngIf="game">
                  <app-admin-create-mission [game]="game"></app-admin-create-mission>
                </div>
                    
              
           
          </div>
          <!-- When the player section is selected -->
          <div class="" *ngIf="kills">
           <div class="game-body" *ngIf="selectedNav == 5">
              <h5 class="card-title">Edit Kills</h5>
              <div class="card-columns">
                 <div class="kill-class" *ngFor="let kill of kills">
                    <app-admin-edit-kils [kill]="kill"></app-admin-edit-kils>
                </div> 
      
              </div>
                  
            </div>
         
        </div>
    </div>
  </div>
     
</div>

