.game-body{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    justify-content: center;
}
.top{
    display: flex;
    justify-content: center;
    margin: auto;
}
.mission{
    display: flex;
    margin:auto;
    justify-content: center;
}
.admin-edit-games-container {
    margin-top: 100px;
}