<!-- Buttons -->
<div class="container">
    <div class="" *ngIf="inSquad.length < 1">
    <div class="" *ngIf="loggedInPlayer">
    <ul class="nav nav-tabs align-center">
        <li class="nav-item mx-auto">
          <a (click)="loadCreateSquad()" class="nav-link" >Create Squad</a>
        </li>
        <li class="nav-item mx-auto">
          <a (click)="loadJoinSquad()"class="nav-link" >Join Squad</a>
        </li>
    </ul>
    <div class="" variant="" *ngIf="showJoinSquad">
    <div class="" *ngIf="squads">
    <div class="" *ngIf="loggedInPlayer">
        <div class="" *ngIf="currentGame">
          <div class="currentGame_container">
            <div class="card_container mt-2" *ngFor="let squad of squads">
                <div class="mx-auto" style="width: 20rem;" *ngIf="!squad.isDeleted">
                    <app-squad-join [player]="loggedInPlayer" [curGame]="currentGame" [squad]="squad"></app-squad-join>
                </div>
          </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- *NgIf Player is alrdy in Squad / Show Squad info -->
    <div class="" *ngIf="inSquad.length > 0">
        
        <div class="" *ngIf="squads">
            <div class="" *ngIf="loggedInPlayer">
                <div class="card-columns" *ngIf="currentGame">
                    <div class="" *ngFor="let squad of squads">
                        <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">{{squad.name}}</h5>
                         </div>
                        <img src="../../../assets/images/humansquad.jpg.png" *ngIf="squad.isHuman" class="card-img-top">
                        <img src="../../../assets/images/zombiesquad.jpg.png" *ngIf="!squad.isHuman" class="card-img-top">
                        
                        
                            <div class="" style="margin-top: 1em;">
                                
                                <div class="" *ngIf="squad.id == loggedInSquadId">
                                    <button class="btn btn-primary btn-sm" (click)="logout()">Leave Squad</button>
                                    <!-- Adds a checkin to the game :) Should check server-side etc, but it's a bit late to worry about that -->
                                    <app-create-checkin [gameId]="currentGame" [squadId]="loggedInSquadId" ></app-create-checkin>
                                    <!-- @Input() gameId: number = 2;  //  dirty defaults
                                    @Input() squadId: number = 2; -->
                                </div>
                            </div>
                            <div class="card-body">
                                <app-squad-info [player]="loggedInPlayer" [curGame]="currentGame" [squad]="squad"></app-squad-info>
                        </div>   
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" *ngIf="createSquad">
        <app-create-squad [player]="loggedInPlayer" [curGame]="currentGame" ></app-create-squad>
    </div>
</div>
    <!-- Checkin modal -->
<ng-template #pinModal let-modal>
    <!-- Modal Header  -->
    <div class="modal-header">
    <h4 class="modal-title">Select Squad Checkin Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

</ng-template>